$primary: #7682cc;
    $primary2: #3d2c91;
    $secondary: #6c757d;
    $success: #28a745;
    $danger: #c02746;
    @mixin mt($s: .36){
      transition: all #{$s}s ;}
.s-use {
  h2 {
    margin-bottom: .5rem;
  }

  &__img-wrap {
    position: relative;
    transform: rotate(70deg);
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 100px;

    img {
      width: 800px;
    }
  }

  &__small-text {
    font-size: 14px;
    max-width: 300px;
    margin-left: auto;
  }

  p {
    font-size: (20rem / 16);
  }

  .btn {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
}
.s-steps{
  background-image: url(../img/bg.jpg);
  position: relative;
  z-index: 2;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.4;
  }
  h2{
    max-width: 500px;
  }
  &__title{
    font-size: (54rem / 16);
    font-weight: bold;
    color: #999999;
  }
  .swiper-button-hand{
    position: static;
    display: inline-block;
    margin-right: 30px;
    margin-top: 0;
  }
  .counter{
    font-size: 30px;
    color: #999999;
  }
}

.s-price{
  background-color: rgb(252, 251, 251);
  .wrap{
    max-width: 700px;
  }
  h2{
    margin-bottom: 1rem;
  }
  table{
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 30px;
    td{
      padding: 10px;
    }
    tr{
      &:nth-child(odd){
        background-color: #eee;
      }
    }
  }
  .btn{
    padding: 20px 30px;
  }
}
.top-nav{
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px  solid #ddd;
  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // flex-direction: column;
    // list-style-position: none;
    list-style-type: none;
    margin-bottom: 0;
  }
  a{
    display: block;
    padding: 10px 10px;
  }
}


$h: (2em / 16);

.toggle-menu-mobile {
	display: block;
	height: $h* 14;
	// margin-top: 15px;
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	padding: 3px;
	border-radius: 5px;
  top: $h;
  cursor: pointer;


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		top: $h*2;
	}

	span:after {
		top: $h * 4;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 32px;
		width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		transform: rotate(45deg) translate(-1px, 0px);
	}

	&.on span:after {
		transform: rotate(-45deg) translate(4px, -7px);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #c3c3c3;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;
 
		}
	}
}